<div layout="row" class="bgc">
<div class="divM0">
<md-content flex id="content" layout="column" class="STbody" style="overflow: hidden">
  <div class="STdes">
          <p class="STfont">中国菜识别 | 项目简介</p>
  </div>
  <div class="STdes">
          <p class="pMar">这是一个基于深度学习的食物图像识别模型，包括：食物图像数据库、深度学习网络和分类器；食物图像数据库的图像输入到深度学习网络，逐层计算后输出具有代表性的特征，包括图像的边缘特征组合，图像的基本形状特征组合，图像的色彩特征组合，分类器就是利用这些特征组合对图像进行分类。充分发挥深度学习的自我学习优势，使用图像数据进行非监督学习，当输入一幅图像时，能够快速准确的提取特征，进行逐层抽象直到形成某一食物的概念，并用分类器进行分类。</p>
  </div>
  <div class="STdes">
          <p class="STfont">中国菜图片数据库</p>
  </div>
<div layout="row" layout-xs="column" layout-sm="column" flex>
    <div flex-gt-sm="5" hide-xs></div>
    <div>
      <div class="foodDiv" flex style="margin:0 auto">
        <img class="imgSmall" ng-src="/app/public/images/FClbhg.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCkljc.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FClbhg.jpg" alt="{{img.title}}" title="{{img.title}}">
      </div>
      <div class="foodDiv" flex style="margin:0 auto">
        <img class="imgSmall" ng-src="/app/public/images/FClbhg.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCstwwc.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCkljc.jpg" alt="{{img.title}}" title="{{img.title}}">
      </div>
    </div>
    <div>
      <div class="foodDiv" flex style="margin:0 auto">
        <img class="imgSmall" ng-src="/app/public/images/FClbhg.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCgbjd.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FChpjj.jpg" alt="{{img.title}}" title="{{img.title}}">
      </div>
      <div class="foodDiv" flex style="margin:0 auto">
        <img class="imgSmall" ng-src="/app/public/images/FClbhg.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCkljc.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCmxw.jpg" alt="{{img.title}}" title="{{img.title}}">
      </div>
    </div>
    <div>
      <div class="foodDiv" flex style="margin:0 auto">
        <img class="imgSmall" ng-src="/app/public/images/FClbhg.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCkljc.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCtds.jpg" alt="{{img.title}}" title="{{img.title}}">
      </div>
      <div class="foodDiv" flex style="margin:0 auto">
        <img class="imgSmall" ng-src="/app/public/images/FClbhg.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCkljc.jpg" alt="{{img.title}}" title="{{img.title}}">
        <img class="imgSmall" ng-src="/app/public/images/FCtclj.jpg" alt="{{img.title}}" title="{{img.title}}">
      </div>
    </div>
  </div>
  <div layout="row">
      <div flex="30" flex-gt-sm="45"></div>

      <md-button  flex="60" flex-gt-sm="10">开始训练</md-button>



      <div flex="30" flex-gt-sm="45"></div>
  </div>
  <div class="STdes">
          <div>
            <p>conv(8*8*20)</p>
            <p>filter size 5*5*20</p>
            <p>max activation:1.27644,min:-2.65918</p>
            <p>max gradient:0.23364,min:-0.20362</p>
            <p>parameters:20*5*5</p>
            <p>Activations:</p>
          </div>
          <div style="margin-bottom: 10px">
            <img ng-src="{{item.url}}" style="width:48px;height:48px"alt="" ng-repeat="item in $ctrl.imgs | limitTo:5">
          </div>
  </div>
  <div class="STdes">
          <p class="STfont">AI 识别中国菜</p>
  </div>
  <div layout="row" layout-xs="column" layout-sm="column" style="margin-top: 20px;margin-left: 20px">
    <div style="margin:0 auto" flex>
        <img src="/app/public/images/FChpjj.jpg" style="width:85%;height:100%;"alt="">
      </div>
      <div style="margin:0 auto" flex>
        <img src="/app/public/images/FCkljc.jpg" style="width:85%;height:100%;position: relative;"alt="">
      </div>
  </div>

  <div layout="row" >
      <div hide show-sm flex-sm="30"></div>
      <div flex="50" flex-sm="20">
        <md-button class="" flex="50" flex-gt-sm="10">拍照</md-button>
      </div>
      <div flex="50">
        <md-button class="" flex="50" flex-gt-sm="10">识别</md-button>
      </div>


  </div>
  <div layout-gt-sm="row" layout-xs="column" layout-sm="column" style="margin-bottom: 20px;margin-left: 20px">
      <div style="position: relative;margin:0 auto" flex>
        <img src="/app/public/images/FChpjj.jpg" style="width:85%;height:100%;"alt="">
        <div class="foodSpan">火爆腰花</div>

        <div class="foodSpan">番茄鸡蛋</div>
        <div class="foodSpan">虎皮尖椒</div>

      </div>
      <br>
      <div style="position: relative;margin:0 auto" flex>
        <img src="/app/public/images/FCkljc.jpg" style="width:85%;height:100%;position: relative;"alt="">
        <div class="foodSpan">火爆腰花</div>
        <div class="foodSpan">番茄鸡蛋</div>
        <div class="foodSpan">红烧鸡翅</div>
      </div>

  </div>















</md-content>
<p class="homeP">北京商高科技有限公司   2017  京ICP备17008605号-1</p>

</div>
</div>
