<div layout="row" class="bgc">
  <div class="divM0">
      <md-content flex   layout="column" class="STbody">
        <div class="STdes">
          <p class="STfont">AI画画 | 项目简介</p>
        </div>
        <div>
          <p class="pMar">您是否曾经对绘画大师的作品无法自拔？您是否曾经想过让梵高亲手为你画上一幅画像？</p>
          <p class="pMar">恭喜您，您非常幸运！您所梦想的这一切在今天我们都可以为您实现。</p>
          <p class="pMar">AI画画——利用人工智能神经网络算法，对大师的风格进行学习，经过大量的学习，AI已经具备了大师的风采，您只需要给出您的一张生活图片，AI立马能将其“画成”大师的作品。</p>
          <p class="pMar">&nbsp;&nbsp;&nbsp;&nbsp;下面利用我们的AI“复活”梵高、毕加索、莫奈画画吧！</p>
        </div>
        <div>
          <div ng-repeat="picItem in $ctrl.picItems" layout="column">

           <div class="STdes" layout="column" layout-xs="column">
             <h3 class="pfont">图片导入</h3>
            <div layout="row" layout-xs="column">
              <div flex class="div-img-con">
                <img class="img-con" ng-src="{{picItem.imgUrl1}}" alt="" />
              </div>
              <div flex class="div-img-con">
                <img class="img-con" ng-src="{{picItem.imgUrl2}}" alt=""  />
              </div>
            </div>
            <div layout="row" style="margin: 20px;">
              <div flex style="text-align: center;">
                <md-button style="width: 85%;" class="md-raised" ng-click="show1=!show1;$ctrl.startTimer()" >{{$ctrl.product}}</md-button>
              </div>
            </div>
           </div>
          <div  class="STdes"  ng-show="show1" style="padding-bottom: 20px;">
             <h3 class="pfont">AI画画过程展示</h3>
             <div layout="row" layout-xs="column">
                <div flex class="div-img-con">
                   <img  class="img-con"  ng-src="/app/public/images/{{picItem.num}}{{$ctrl.src}}.png" alt=""  class="imageRes2"/>
                </div>
                <div flex class="div-img-con">
                  <img  class="img-con"  ng-src="/app/public/images/{{picItem.num2}}{{$ctrl.src}}.png" alt="" class="imageRes2"/>
                </div>
                <div flex  class="div-img-con">
                  <img  class="img-con"  ng-src="/app/public/images/{{picItem.num3}}{{$ctrl.src}}.png" alt="" class="imageRes2"/>
                </div>
             </div>
           </div>


        </div>
      </div>
        <div class="STdes" layout="column" layout-xs="column" id="divResult" ng-show="$ctrl.flag" style="padding-bottom: 20px;">
          <h3 class="pfont">效果对比</h3>
         <div layout="row" layout-xs="column">
           <div flex class="div-img-con">
             <img class="img-con" src="/app/public/images/ST500.png" alt="" />
           </div>
           <div flex class="div-img-con">
             <img class="img-con" src="/app/public/images/ST704.png" alt=""  />
           </div>
         </div>
        </div>
        <h3  class="pfont">AI画廊</h3>
        <div layout="row" layout-xs="column">
           <div flex class="div-img-con" ng-repeat="item in $ctrl.imgMen">
              <img  class="img-con"  ng-src="{{item}}" alt=""  class="imageRes2"/>
           </div>
        </div>

        <div layout="row" layout-xs="column">

           <div flex class="div-img-con" ng-repeat="item in $ctrl.imgMen2">
              <img  class="img-con"  ng-src="{{item}}" alt=""  class="imageRes2"/>
           </div>
        </div>
        <div>
          <p class="homeP">北京商高科技有限公司   2017  京ICP备17008605号-1</p>
        </div>
      </md-content>
      </div>


</div>
