<div layout="row" class="bgc">
<div class="divM0">
<md-content flex id="content" layout="column" class="STbody">
	<div layout="row" layout-xs="column" flex>
		<div class="divbox" ng-click="$ctrl.changeName('细胞检测')" ui-sref="mitosisDetection"layout="column" flex >
			<i class="material-icons isize">queue_play_next</i>
			<span class="iconspan">AI 肿瘤细胞检测</span>
		</div>
		<div class="divbox" ui-sref="cifar10"layout="column" ng-click="$ctrl.changeName('检测')" flex>
			<i class="material-icons isize">tonality</i>
			<span class="iconspan">AI 物体识别</span>
		</div>
	</div>
	<div layout="row" layout-xs="column" flex>
		<div class="divbox" ui-sref="styleTransfer"layout="column" flex>
			<i class="material-icons isize">palette</i>
			<span class="iconspan">AI 画画</span>
		</div>
		<div class="divbox" ui-sref="obama"layout="column" flex>
			<i class="material-icons isize">speaker_notes</i>
			<span class="iconspan">演讲稿生成</span>
		</div>
	</div>
	<div layout="row" layout-xs="column" flex>
		<div class="divbox" ui-sref="foodClassfication"layout="column" flex>
			<i class="material-icons isize">local_dining</i>
			<span class="iconspan">中国菜识别</span>
		</div>
		<div class="divbo" layout="column" flex>
			
		</div>
	</div>
</md-content>
<p class="homeP">北京商高科技有限公司   2017  京ICP备17008605号-1</p>
</div>
</div>
