<!-- Place all UI elements intended to be present across all routes in this file -->

<div class="app" ng-cloak>
  <section flex>

    <md-content flex>
      <!--主页内容-->
      <div layout="column">
        <swiper id="swiper-wrap" imgs="$ctrl.imgs"></swiper>
        <navbar id="navbar"></navbar>
        <div ui-view >
        </div>
      </div>

      <md-sidenav id="side" hide-gt-sm class="md-sidenav-left sidenavColor" md-component-id="left"  
                    md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="bgcolor" layout="row">
          <img src="../app/public/images/home/logo.png" style="width:80px;height:25px;position: absolute;left:2px;top:30%" flex="60"/>
          <i class="material-icons" style="position: absolute;right:5px;top:30%" ng-click="$ctrl.closeSidenav()">menu</i>
        </md-toolbar>
        <md-content layout-margin class="sidenavColor">
          <md-list>
            <md-list-item ng-repeat="item in $ctrl.menus" >
                <div class="listdiv" ng-click="$ctrl.changTitle(item.content)" ui-sref="{{item.url}}">
                  <i class="material-icons">{{item.iconname}}</i>&nbsp;
                  <span >{{item.content}}</span>
                </div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
    </md-content>
  </section>
</div>
