@import "common/common";

.app {
  height: 100%;
  font-size: 16px;
}
.fixed-navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.fixedtop-sidenav {
  top: 55px;  
}
