.cifar10 {
  color: red;
}

a {
  text-decoration: none;
}

h1 {
  word-break: break-all;
}

#content {
  padding: 20px 15px 0px 25px;
  min-height: 700px;
}


.divShowState {
  display: none;
}

.divShow {
	display: block;
}

.divItemLeft {
  width: 500px;
  float: left;
}

.divItemRight {
  width: 400px;
  float: left;
  margin: 20px 70px;
}

.textareaOne {
  width: 100%;
  height: 300px;
  border: 1px solid #eee;
  font-size: 16px;
  resize:none;
}



.divfloatLeft {
  float: left;
}

.pBackColor1 {
  background-color: #9CF9CB;
  width: 100px;
}
.pBackColor2 {
  background-color: #B95858;
  width: 80px;
}
.pBackColor3 {
  background-color: #E3FA84;
  width: 50px;
}

.divImg {
  float: left;
  width: 80px;
  margin: 22px 10px 20px 10px;
}

.divImgHeight {
  height: 140px;
}

.divMargin {
  margin-right: 50px;
}

.divImgContainer {
  border: 1px solid #eee;
  width: 280px;
  margin: 10px 10px 15px 0px;
}

.imgClass {
  float: left;
  margin: 30px 40px 0px 10px;
}

.pContainer {
  width: 220px;
  margin-left: 100px;
}

.imgMargin {
  margin-right: 10px;
}
