<div layout="row" class="bgc">
<div class="divM0">
<md-content flex id="content" layout="column" class="STbody">
    <div class="STdes">
          <p class="STfont">演讲稿生成 | 项目简介</p>
    </div>
    <div class="STdes">
      <p class="pMar">每次在演讲之前，相信您也纠结该如何写演讲稿。没关系，我们的AI可以帮您完成这一工作，您只需要把您以前的演讲稿“喂给”AI，他会学习您演讲的风格，给您一份满意的演讲稿。</p>
      <p class="pMar">本项目将展示AI是如何学习奥巴马总统的演讲风格，并根据新的演讲主题，"写"一份新的演讲稿。</p>
    </div>
    <div class="STdes">
      <p class="STfont">奥巴马总统过往演讲稿录入</p>
    </div>
    <div class="STdes">
      <div flex>
          <p class="pMar">美国将加强美国人民的新挑战的成本，这将分享我们创造这个问题的事实。他们受到攻击，所以他们必须说，战争的最后几天的所有任务，我不能够得到这一点。男人和女人的承诺，仍然是要解决的事实，美国人民争取，以确保他们必须能够保护我们的部分。这是一个站在一起完全寻求从美国人民借来的承诺的机会。事实是，穿制服的男女和数百万国民以及法律制度，我们应该成为我们能够承受的力量的强大力量，以增加我们的美国人民的精神和我们的国家的领导在美国生活的互联网上。非常感谢你。上帝保佑你，上帝保佑美利坚合众国。</p>
      </div>
    </div>
    <div layout-xs="row">
      <div flex-xs="30"></div>
      <md-button class="md-raised" flex-xs="60">开始学习</md-button>
      <div flex-xs="30"></div>
    </div>
    <div class="STdes">
      <p class="STfont">新的演讲主题</p>
    </div>
    <div class="STdes">
      <div flex style="height:100px;overflow-y: scroll;">
      </div>
    </div>
    <div layout-xs="row">
      <div flex-xs="30"></div>
      <md-button class="md-raised" flex-xs="60">写新的演讲稿</md-button>
      <div flex-xs="30"></div>
    </div>
    <div class="STdes">
      <div flex style="height:200px;overflow-y: scroll;">
      </div>
    </div>















    <p class="homeP">北京商高科技有限公司   2017  京ICP备17008605号-1</p>
</md-content>
</div>
</div>
