@media (max-width: 960px) {
  #wrap {
    width: 100%;
  }
  .secpart {
    width: 95%;
  }

  .layer_grad > .actmap ,
  .layer_act > .actmap {
      margin: 0px 15px 10px 0px;
  }
}
@media (max-width: 500px) {
  .layer_act {
    width: 100%;
  }
}
